<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>INTA ATTIRE is a lifestyle concept women's fashion store. Shop party dresses, festival fashion, summer/winter suits, Designer Sarees, Designer Lahanga.</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="fontAwesome/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
	<script src="js/jquery-2.2.2.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
	<link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />
	<link rel="icon" href="image/inta.jpg" type="image/jpg" sizes="20x20">
	<style>
     .traditional-dress{
        background-image: url('image/fixed-image.jpg');
      /*  background-attachment: fixed;*/
       /* background-repeat: no-repeat;*/
        padding-top: 100px;
        padding-bottom: 100px;
        margin-top: 30px;

      }
  </style>
</head>
<body>
	<!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "101849134528021");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v14.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
	<!-- navbar  -->
<nav class="navbar navbar-default navbar-fixed-top navcarbox" role="navigation">
      <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!--  <a class="navbar-brand" href="#">Brand</a> -->
     <img src="image/logo.png" alt="" width="80%">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html">Home </a></li>
        <li><a href="about.html">About </a></li>
      <!-- <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Shop<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                          <a href="suit.html"><option><b>Ladies Suit</b></option></a>
                          <a href="sari.html"><option><b>Saree</b></option></a>
                          <a href="lehenga.html"><option><b>Lehenga</b></option></a>
                          <a href="bridal.html"><option><b>Bridal Dress</b></option></a>
                          <a href="baby.html"><option><b>Baby Wear</b></option></a>
                         </ul></li> -->

          <!-- <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Packages<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                          <a href="regular.html"><option>Regular Package</option></a>
                          <a href="package.html"><option>Annual Package</option></a></ul></li> -->
                             <li><a href="shop.html">Shop</a></li>
        <li><a href="contact.html">Contact us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
      </div><!-- /.container-collapse -->
  </nav>
  
<!-- navbar ends -->
<img src="image/cloth-1.jpg" alt="" width="100%">

<!-- contact -->
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2><b>LIVE FOR FASHION</b></h2>
				 <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true">&nbsp<b>Store 1:</b>  Machhapokhari, Kathmandu</i></li>
           <li><i class="fa fa-map-marker" aria-hidden="true">&nbsp<b>Store 2:</b> Dhalko (Near Newa Petrol Pump)</i></li>
          <li><i class="fa fa-phone" aria-hidden="true">&nbsp&nbsp01-4389019 | 9847850000 | 9809536936</i></li>
          <li><i class="fa fa-envelope" aria-hidden="true">&nbsp&nbspintaattire478@gmail.com</i></li>
        </ul>
			</div>
			<div class="map">
				<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d28256.614812548836!2d85.28800528704184!3d27.71491334846539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d27.693139799999997!2d85.3032801!4m5!1s0x39eb19dbfdece4b5%3A0x394e9a22ec408876!2sinta%20attire!3m2!1d27.7369186!2d85.30373759999999!5e0!3m2!1sen!2snp!4v1667560435837!5m2!1sen!2snp" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			</div>
		</div>
	</div>
</div>


<!-- contact ends -->


<!-- traditional-dress -->
<div class="traditional-dress">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <h1>YOUR FASHION DEFINES YOU!!!</h1>
     <a href="https://docs.google.com/forms/d/e/1FAIpQLScy0z0KRGQWsEux7h-kandEgVBP-fp5JC0Ju5rGv0jyizVX0g/viewform?usp=sf_link" data-toggle="modal"  style="text-decoration: none;"> <h4>SHOP NOW</h4></a> 
      </div>
    </div>
  </div>
</div>
<!-- traditional-dress -->




<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2><u>INTA ATTIRE</u></h2>
        <p>INTA ATTIRE is a lifestyle concept women's fashion store. Shop party dresses, festival fashion, summer/winter suits, Designer Sarees, Designer Lahanga....</p>
      </div>
      <div class="col-md-4">
        <h2><u>Store Information</u></h2>
       <h5>Address: Machhapokhari, Kathmandu</h5>
     <h5>Phone number: 01-4389019 | 9847850000 | 9809536936</h5>
       <h5>Email: intaattire478@gmail.com</h5>
      </div>
      <div class="col-md-2">
        <h2><u>Links</u></h2>
        <a href="home.html"><p>HOME</p></a>
        <a href="about.html"><p>ABOUT</p></a>
        <a href="shop.html"><p>SHOP</p></a>
        <a href="contact.html"><p>CONTACT</p></a>
         
      </div>
       <div class="col-md-2">
        <h2><u>Payment</u></h2>
       <p>E-sewa</p>
        <p>Fonepay</p>
        <a href="terms.html"><p>TERMS & CONDITION</p></a>
       
      </div>
    </div>
  </div>
</div>
<!-- footer ends -->

<!-- copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <h4>Copyright © 2022 | All Right Reserved Inta Attire</h4>
      <a href="http://www.advertnepal.com.np/"><h5>Powered by: AdvertNepal</h5></a>
    </div>
  </div>
</div>
<!-- copyright ends -->
<aside id="sticky-social">
    <ul>
       <li><a href="https://wa.me/+9779847850000" class="entypo-whatsapp" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>

       <li><a href="https://www.facebook.com/Intacrst"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>

       <li><a href="https://www.instagram.com/intaattire/" class="entypo-messenger" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
</aside>
</body>
</html>